.header {
    min-width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;

    padding: 0 60px;
}

.nav {
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: 'Geologica';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5px;

    padding: 0 20px;
}

.title{
    color: #000;
    font-family: 'Geologica';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 8px;
    text-shadow: 3px 3px 3px #5ff0c2;
}
