.album-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100vh;
    padding: 60px;

    background-image: url(../../../data/backgrounds/album-bgr.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.album1-wrapper, 
.album2-wrapper {
    position: relative;
    font-family: 'Unbounded';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
}

.cover1 {
    width: 250px;
    height: 250px;
    background: url(../../../data/backgrounds/perekrestok-cover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cover2 {
    width: 250px;
    height: 250px;
    background: url(../../../data/backgrounds/man-on-moon-cover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cover__release {
    padding-top: 20px;
}

.cover__title {
    padding-bottom: 20px;
}

.album1-songs-list,
.album2-songs-list {
    position: absolute;
    top: 105%;
    width: 250px;
    height: 0px;
    overflow: hidden;
    background: rgba(101, 224, 207, 0.5);

    font-size: 12px;
    line-height: 20px;
    transition: all 0.3s;

    pointer-events: none;
}

.album1-wrapper:hover
.album1-songs-list {
    transition: all 0.3s;
    height: 230px;
    
}

.album2-wrapper:hover 
.album2-songs-list {
    transition: all 0.3s;
    height: 230px;
    
}

.album1-songs-list p,
.album2-songs-list p {
    padding: 10px;
}
