.news-block {
  display: flex;  
  align-items: center;

  background: url(../../../data/backgrounds/news-block.png);
  background-size: 100% 100%;

  height: 100vh;
  width: 100%;

  padding: 50px;
}

.news-block__text {
    width: 100%;
    text-align: center;

    color: #acf5df;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 18px;
    text-shadow: 2px 2px 2px #000000;
}