.song {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* padding-top: 20px; */
    text-shadow: 2px 2px 2px #000000;
    font-size: 20px;
}

.song::after {
    position: absolute;
    left: 0%;
    bottom: -10%;
    width: 100%;
    height: 1px;
    content: "";
    background:  #fff;
}

.song:hover {
    color: #acf5df;
    text-shadow: 2px 2px 2px #000000;
}

.list-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    text-shadow: 2px 2px 2px #000000;
}

.list-header::after {
    position: absolute;
    left: 0%;
    bottom: -10%;
    width: 100%;
    height: 1px;
    content: "";
    background:  #fff;
}

.song, .song p {
    cursor: pointer;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
}
