.song__full::after {
    height: 0
}

.text__conteiner {
    align-self: center;
    overflow: scroll;
}

.text__conteiner::-webkit-scrollbar {
    display: none;
   }

.text__field {
    width: 400px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #000000;
    background: rgba(0, 120, 201, 0.7);

    padding: 20px;
}
.text__title {
    position: relative;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #000000;
}

.text__title::after {
    position: absolute;
    left: 0%;
    bottom: -10%;
    width: 100%;
    height: 1px;
    content: "";
    background:  #fff;
}